p {
  margin: 1em;
  color: #333;
}
#presentation {
  background-color: #f2f2f2;
}

.special {
  font-style: italic;
  color: #0099cc;
}
#presentation em {
  font-weight: bold;
}

.list > li {
  border: 1px solid red;
  margin: 1em;
}

p + .special {
  text-transform: uppercase;
}

aside .urgent ~ li {
  font-style: italic;
}

article p:first-of-type {
  background: yellow;
}

article p:nth-child(3) {
  border: 2px solid green;
}

aside li:last-child {
  color: red;
}

strong {
  border-style: dashed;
}

li:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}
